/* container styles */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
}

/* game board styles */
#game-board {
    width: 50vw;
    height: 50vw;
    max-width: 100%;
    max-height: calc(100vh - 40px); /* 40px for the reset button and some margin */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* cell styles */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    border: 1px solid black;
    font-size: 5vw;
    overflow: hidden;  /* Prevents cell from resizing */
}

/* Reset button styles */
#reset-button {
    margin-top: 2vw;  /* Use viewport width for responsive spacing */
    font-size: 1.5rem;
    z-index: 1;  /* Ensure it stays above the game board */
    position: relative;  /* Relative to the container */
}
