body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-board {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    width: 100%;
    padding-bottom: 33.33%; /* Makes the cell rectangular */
    position: relative;
    border: 1px solid black;
    font-size: 5vw;
}

.cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset-button {
    margin-top: 20px;
}
